*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
}

.Header{
  background: rgb(29,53,87);
  background: linear-gradient(180deg, rgba(29,53,87,1) 0%, rgba(43,78,112,1) 50%, rgb(62, 121, 158) 100%);
  color: #f1faee;
  height: 25vh;
  align-items: center;
  animation: gradient 10s ease infinite;
  animation-direction: reverse;
  background-size: 100% 300%;
  
}

@keyframes gradient {
  0% {
      background-position: 50% 0%; 
  }
  50% {
      background-position: 50% 100%;
  }
  100% {
      background-position: 50% 0%;
  }
}

.NameHeader{

  border-bottom: #f1faee 1px solid;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: borde 10s ease infinite;
}

@keyframes borde {
  0% {
      width: 20%; 
  }
  50% {
    width: 80%;
    border-bottom: #e63946 1px solid;
  }
  100% {
      width: 20%;
  }
}

.DevHeader{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 
MAIN COMPONENT
*/

.Main{
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: auto;
}

.Hero{

min-height: 35vh;
background-color: red!important;
}

.ButtonDiv{

  min-height: 35vh;
}

.AcademicDiv{
  min-height: 85vh;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly!important;
  align-items: center;
}

/*  */

.swiper {
  width: 50%;
  height: 100%;
  margin: 0!important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {

  width: 100%;
  height: 100%;

}

/*  */
.ProjectsDiv{
  min-height: 85vh;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly!important;
  align-items: center;
}

.TecDiv{
  min-height: 85vh;
  width: 100%;
  background-color: rgb(137, 114, 158);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly!important;
  align-items: center;
}

.ContactDiv{
  background-color: blue;
  min-height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly!important;
  align-items: center;
}

.ContactLinks{
  height: 70vh;
}

.MySpaceDiv{
  background-color: burlywood;
  min-height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly!important;
  align-items: center;
}