*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw!important;
  height: 100vh;
}

.Header{
  background: rgb(29,53,87);
background: linear-gradient(180deg, rgba(29,53,87,1) 0%, rgba(43,78,112,1) 50%, rgb(62, 121, 158) 100%);
  color: #f1faee;
  height: 25%;
  align-items: center;
  animation: gradient 10s ease infinite;
  animation-direction: reverse;
  background-size: 100% 300%;
  
}

@keyframes gradient {
  0% {
      background-position: 50% 0%; 
  }
  50% {
      background-position: 50% 100%;
  }
  100% {
      background-position: 50% 0%;
  }
}

.NameHeader{

  border-bottom: #f1faee 1px solid;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: borde 10s ease infinite;
}

@keyframes borde {
  0% {
      width: 20%; 
  }
  50% {
    width: 80%;
    border-bottom: #e63946 1px solid;
  }
  100% {
      width: 20%;
  }
}

.DevHeader{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 
MAIN COMPONENT
*/

.Main{
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}